 

    <HEad>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
            rel="stylesheet">
    </HEad>
    <body>
        
    <div class="about-section">
        <div class="animated-title">
            <div class="text-top">
              <div>
                <span>ABOUT ME</span>
                
              </div>
            </div>
            <div class="text-bottom">
              <div>Hey there! I'm Sirisha, a web enthusiast diving into the world of full-stack development. With a passion for clean, intuitive design and robust, efficient code, I love turning ideas into interactive experiences that leave a mark. Currently honing my skills in both front-end finesse and back-end wizardry, I'm excited about the endless possibilities of web development. Let's build something amazing together!</div>
            </div>
          </div>
       
    </div>
  

    <div class="skill-container">
        <div class="nft">
            <div class='main'>
                <img class='tokenImage' src="fendlogo.png" alt="FrontEnd" />
                <h2>FRONTEND</h2>
                <hr />
                <p class='description'>HTML <br> CSS <br>Javascript <br>React</p>
            </div>
        </div>

        <div class="nft">
            <div class='main'>
                <img class='tokenImage' src="bendlogo.png" alt="BackEnd" />
                <h2>BACKEND</h2>
                <hr />
                <p class='description'>Express.js <br> Node.js <br>Javascript <br><br></p>
            </div>
        </div>

        <div class="nft">
            <div class='main'>
                <img class='tokenImage' src="dbaselogo.png" alt="DataBase" />
                <h2>DATABASE</h2>
                <hr />
                <p class='description'>PostgreSQL <br> SQL <br><br><br></p>
            </div>
        </div>
    </div>

</body>











