<head>
    <link rel="stylesheet" href="style.css">
</head>
<div id="header-container">
    <nav>
        <ul id="list">               
            <li><img class="logo" src="logo.png" alt="logo"></li>
            <li class="list-item"><a href="/index" id="item1" class="item">Home</a></li>
            <li class="list-item"><a href="/resume" id="item2" class="item">Resume</a></li>

        </ul>
    </nav>
    <hr color="#bfa181" width="1300px">
</div>