    <center><hr color="#bfa181" width="900px" ></center>
        <p id="work-heading">My Projects</p> 
    <div id="work-container">
        <!-- card 1 -->
        <div class="card">          
            <img src="simongame.png" alt="">

            <div class="card__content">
                <p class="card__title">Simon Game
                </p>
                <p class="card__description">The Simon Game built using HTML, CSS and Javascript,is an engaging digital
                    memory game. The combination of these three provides a fun and interactive experience that tests
                    player's memory and concentration. <br>
                    <a href="https://github.com/sirisha-fulara/SimonGame.git">Github link🔗</a>
                </p>
            </div>
        </div>

        <!-- card 2 -->
        <div class="card">           
            <img src="permalist.png" alt="">
            <div class="card__content">
                <p class="card__title">To Do List
                </p>
                <p class="card__description">
                    Created a to-do list application using frontend tech. like HTML and CSS coupled with backend
                    tech. like Express.js and Node.js. Frontend 
                    handle dynamic user interactions, while backend manage data storage and API endpoints
                     <br>
                    <a href="https://github.com/sirisha-fulara/permalist-project.git">Github link🔗</a>
                </p>
            </div>
        </div>

        <!-- card 3 -->
        <div class="card">           
            <img src="dicegame.png" alt="">
            <div class="card__content">
                <p class="card__title">Dice Game
                </p>
                <p class="card__description">
                    A dice game implemented with HTML, CSS, and JavaScript offers an engaging experience directly in the
                    browser. Players roll virtual dice by clicking a button, with JavaScript generating random numbers
                    and updating the dice visuals on the webpage in real-time.  <br>
                    <a href="https://github.com/sirisha-fulara/DiceGame.git">Github link🔗</a>
                </p>
            </div>
        </div>

        <!-- card 4 -->
        <div class="card">            
            <img src="blogwebsite.png" alt="">
            <div class="card__content">
                <p class="card__title">Blog Website
                </p>
                <p class="card__description">A blog website, built with HTML, CSS, JavaScript, Node.js, Express, and PostgreSQL, provides a dynamic platform for creating content. It combines frontend elegance with backend efficiency, allowing users maintain a seamless browsing experience. <br>
                    <a href=""> Github link🔗</a>
                </p>
            </div>
        </div>

        <!-- card 5 -->
        <div class="card">           
            <img src="tictactoe.png" alt="">
            <div class="card__content">
                <p class="card__title">Tic Tac Toe
                </p>
                <p class="card__description">A Tic Tac Toe game created with HTML, CSS, and JavaScript provides a simple yet engaging experience where players can compete against each other in a familiar grid-based challenge.  <br>
                    <a href="https://github.com/sirisha-fulara/PRODIGY_WD__03.git"> Github link🔗</a>
                </p>
            </div>
        </div>


    </div>
    </div>